:root {
  --primary-color: #94b49f;
  --secondary-color: #f5f2fe;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

body {
  display: block;
  background-color: #fcf8e8;
}
.hero {
  background-color: #94b49f;
  color: var(--secondary-color);
  margin-top: 80px;
  margin-bottom: 80px;
  padding-top: 120px;
  padding-bottom: 120px;
}
h1,
h2,
h3,
h4 {
  text-align: center;
}

h1 {
  font-size: 96px;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 24px;
  opacity: 0.7;
}
.index-project-text {
  padding-top: 20px;
  font-family: "Bradley Hand ITC";
  font-size: 48px;
}
.index-paragraph {
  padding: 20px;
  border-radius: 4px;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
  border: 1px solid var(--primary-color);
  border-radius: 5px;
  padding: 20px;

  background-color: #fcf8e8;
}

.navigation-links {
  display: flex;
  margin-top: 40px;
  justify-content: center;
}

.navigation-links a {
  margin: 20px;
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
}
.img-thumbnail {
  background-color: var(--primary-color);
}
.winda {
  display: block;
  width: 300;
}
.paragraph {
  display: flex;
  justify-content: center;
}
.paragraph div {
  border: 1px solid var(--primary-color);
  border-radius: 25px;
  padding: 20px;
  margin: 20px 20px;
  background-color: #fcf8e8;
}
.p-about-me {
  margin: 110px 0 120px 0;
  text-align: left;
  color: black;
  font-size: 20px;
  font-weight: 600;
}

.about-skill {
  color: var(--primary-color);
}
.about-certificates {
  color: var(--primary-color);
}

.about-paragraphs {
  display: flex;
  margin: 30px 0;
}

.email-link:hover {
  text-decoration: underline;
}

.primary-link {
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
}
.primary-link:hover {
  background-color: #cc9a74;
}
.contact-me-top-text {
  font-size: 62px;
  font-weight: 700;
  margin: 120px 0 60px 0;
}

.contact-me {
  background: var(--primary-color);
  margin-top: 150px;
  margin-bottom: 150px;
}

.contact-bar {
  font-family: "Bradley Hand ITC";
  margin: 80px 0 80px 0;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 30px;
  color: var(--secondary-color);
}
.contact-bar-details {
  text-decoration: none;
  color: var(--secondary-color);
}

.contact-icon {
  color: var(--primary-color);
  font-size: 60px;
}
.contact-icon:hover {
  color: #cc9a74;
}
.index-icon:hover {
  color: #cc9a74;
}
.index-icon {
  color: var(--primary-color);
  font-size: 60px;
  margin-top: 20px;
}
